<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="egendef">Assignment 1 - litt om meg</h2>
            <h3 id="p_header"><em>Begynner med min familie</em></h3>
            <p class="egendef"><strong>My family:</strong></p>
            <table class="table">
                
                <thead>
                <tr>
                    <th>Navn:</th>
                    <th>Forhold:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Vahab Rezaii</td>
                    <td>Far</td>
                </tr>
                <tr>
                    <td>Hamideh Rezaii</td>
                    <td>Mor</td>
                </tr>
                <tr>
                    <td>Taibeh Rezaii</td>
                    <td>Søster</td>
                </tr>
                <tr>
                    <td>Tahereh Rezaii</td>
                    <td>Søster</td>
                </tr>
                <tr>
                    <td>Vahideh Rezaii</td>
                    <td>Søster</td>
                </tr>
                </tbody>
            </table>

        </div>
        
        
        <div class="col-md-6">
            <h2><strong>Hvem er jeg?</strong></h2>
            <img src="585.jpg" alt="Who am i?" width="300px" height="300px">
            <br>
            <p>Jeg er en 27 år gammel student ved UiA. Min familie består av 7 medlemmer. Det er mine to foreldre, 
            <br> 3 søstre og meg</p>
            <div>
                <p>Rekkefølge på mine søstre, eldst til yngst: </p>
                <ol class="egendef">
                    <li>Taibeh</li>
                    <li>Tahereh</li>
                    <li>Vahideh</li>
                </ol>
            </div>
            <div><p>Jeg er glad i mat, spesielt mat fra hjemmelandet Afghanistan.<br> 
                    En liste over ulike gode matretter herfra som anbefales sterkt: </p>
                <ul class="egendef">
                    <li>Qaboli palao</li>
                    <li>Shivid palao</li>
                    <li>Manto</li>
                    <li>Ashak</li>
                    <li>Qorme sabzi (ouuufh!)</li>
                </ul>
            </div>
            <div>
                <p class="egendef">Søk etter hva som helst:</p>
                <div class="container">
                  <form class="form-inline" action="/action_page.php">
                    <label for="search-bar">Search for something: </label>
                    <input type="search" class="form-control" id="email" placeholder="search" name="search">
                    <div class="form-check">
                      <label class="form-check-label">
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            </div>
        </div>
        
    </div>
</div>